<div class="container">
    <div class="row justify-content-around">
      <div class="col-md-2">
        <%= link_to "Back", articles_path, :class => "btn btn-primary" %>
      </div>
        <div class="col-md-4">
          <h1 class="text-center mt-4">The selected article is:</h1>
          <h2 class="text-center mt-4"><%= @article.title %></h2>
          <p class="text-center mt-2"><%= @article.body %></p>
          
          <% if user_signed_in? %>
            <% if current_user.id == @article.user_id %>
              <div class="d-flex flex-row justify-content-center alig-items-center">
                <div style="margin: 10px">
                  <%= link_to "Edit", edit_article_path(@article), :class => "btn btn-primary" %>
                </div>  
                <div style="margin: 10px"> 
                  <%= link_to "Destroy", article_path(@article), data: {
                                turbo_method: :delete,
                                turbo_confirm: "Are you sure?"
                              }, :class => "btn btn-primary" %> 
                </div>
              </div>  
             <% end %> 
           <% end %>    
                
          <h2 class="text-center mt-4">Comments</h2>  
          <div class="mx-auto p-3" style="width: 340px;" >   
            <%= render @article.comments %>   
          </div>
          
          <% if user_signed_in? %>
            <% if current_user.id != @article.user_id  %>
              <div id="follow_form">
                <% if current_user.following?@article.user %>
                  <%= link_to "UnFollow", unfollow_user_path(@article.user), :class => "btn btn-primary"  %>
                <% else %>
                  <%= link_to "Follow", follow_user_path(@article.user), :class => "btn btn-primary"  %>
                <% end %>    
              </div>
            <% end %>
          <% end %>
        </div>
        
        <% if user_signed_in? %>
          <% if current_user.following?@article.user or current_user.id == @article.user_id%>
            <div class="col-md-4">
              <h2 class="text-center mt-4">Add a comment:</h2>
              <%= render 'comments/form' %>
            </div>
          <% end %>
        <% end %>
    </div>
</div>                       
